.section{
  border: solid #002D40 5px;
  max-width: 800px;
  margin: 15px auto 50px auto;
  padding: 30px;
}

.section h2{
  margin-bottom: 20px;
  font-size: 2em;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}

.section p{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 1.125em;
  line-height: 1.5625em;
}

.italic {
  font-family: 'Courgette', cursive !important;
}

.italic:before{
  content: "";
  width: 30px;
  height: 3px;
  background: #000;
  display: block;
  margin: 8px auto;
}

.italic:after{
  content: "";
  width: 30px;
  height: 3px;
  background: #000;
  display: block;
  margin: 8px auto;
}